.not_found_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 48px;
  overflow-x: auto;
  padding-bottom: 50px;
  border-radius: 5px;
  background-color: #eee;
  padding: 20px;
}

.not_found_container_header {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.not_found_container_photo {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-bottom: 20px;
}

.not_found_container_anchor {
  color: #5e4663;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}
